@font-face {
    font-family: 'SolaimanLipi';
    src: url('../font/');
    src: url('../font/SolaimanLipi.woff') format('woff'),
         url('../font/SolaimanLipi.ttf') format('truetype'),
         url('../font/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
         url('../font/?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    height: 100%;
    font-family: "SolaimanLipi", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .title {
      text-align: center;
      padding-bottom: 40px;
  }