.footer {
    text-align: center;

    p {
        margin-bottom: 0;
        font-size: 14px;
        padding: 10px;

        @media (max-width: 575px) {
            font-size: 12px;
            line-height: 22px;
        }
    }
}