.categories {
    padding: 120px 0;

    @media (max-width: 575px) {
        padding: 40px 0;
    }

    .items {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 575px) {
            justify-content: space-between;
        }

        a {
            display: inline-block;
            margin: 0 15px 30px;

            @media (max-width: 575px) {
                margin: 0 0 15px;
                width: calc(50% - 7.5px);
            }
        }

        .item {
            background-color: $white;
            padding: 30px;
            text-align: center;
            width: 250px;

            @media (max-width: 575px) {
                width: 100%;
            }

            img {
                width: 100px;
            }

            h4 {
                color: $bColor;
                text-align: center;
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px solid #ddd;
                transition: $transition;

            }

            @media (max-width: 575px) {
                padding: 15px;

                img {
                    width: 60px;
                }

                h4 {
                    font-size: 14px;
                }
            }

            &:hover {
                h4 {
                    color: $secondary-color;
                }
            }
        }
    }
}