@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

// Color;
$primary-color: #5f27cd;
$secondary-color: #ee5253;
$hover-color : #5f27cd;
$bColor: #333333;
$white : #ffffff;
$black : #000000;


// Body;
$bodyFont: 'SolaimanLipi', sans-serif;;
$titleFont: 'SolaimanLipi', sans-serif;;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .3s;
